body {
    background-color: rgb(43, 42, 42);
}

h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
}

.playerNumBtn {
    background: gold;
    border: none;
}

.playerNumBtn:hover {
    background: rgb(26, 23, 168);
    border: none;
}